<div class="sidebar col-md-2" data-ng-init="loadFormulas()">
  <div class="col-md-12" ng-controller = "FormulaController">
    <h3>Formulas</h3>
    <div class="options"> 
    </div>
    <input type="text" class="form-control" ng-model="searchText" ng-focus="onFocus()" placeholder ="Search all formulas">
    <ul class="formulaList">
      <li data-ng-repeat="item in filteredFormulas | filter:searchText | limitTo:numPerPage" formulalink></li>
    </ul>
    <div ng-controller="PaginationController" ng-class="{hidden: searchText}">
      <pagination boundary-links="false" items-per-page="numPerPage" max-size="5" ng-model="currentPage" total-items="totalItems" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
    </div>
  </div>
</div>

<div class="col-md-10" data-ng-init="loadNotesheet(); editable = true">
  <div ng-controller="NotesheetController">
    <h3><input ng-class="" type="text" ng-model="notesheet.title"/></h3>
    <div class="options"> 
      <button id="edit" class="btn" ng-click="createOrUpdate(notesheet.title, sheetData)">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
      </button>
      <button id="edit" class="btn" ng-click="delete()">
        <span class="glyphicon glyphicon-delete" aria-hidden="true"></span> Delete
      </button>
      <button id="arrange" disabled class="btn">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Arrange
      </button>
    </div>
  </div>
  <div id="formulaSheet" workspace class="module-container">
    <div data-ng-repeat="item in sheetData" nsformula></div>
  </div>
</div>