<div class="sidebar col-md-2">
  <div class="col-md-12" ng-controller = "FormulaController">
    <h3>Formulas</h3>
    <div class="options"> 
    </div>
    <input type="text" class="form-control" ng-model="searchText" ng-focus="onFocus()" placeholder ="Search all formulas">
    <ul class="formulaList">
      <li data-ng-repeat="item in filteredData | filter:searchText | limitTo:numPerPage" formulalink></li>
    </ul>
    <div ng-controller="PaginationController" ng-class="{hidden: searchText}">
      <pagination boundary-links="false" items-per-page="numPerPage" max-size="5" ng-model="currentPage" total-items="totalItems" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
    </div>
  </div>
  <div class="col-md-12" ng-controller="NotesheetController" data-ng-init="notesheetList()">
    <h3>Notesheets</h3>
    <ul>
      <li data-ng-repeat="notesheet in notesheets"><a href="notesheet/{{notesheet._id}}">{{notesheet.title}}</a></li>
    </ul>
  </div>
</div>

<div class="col-md-10">
  <div ng-controller="NotesheetController">
    <h3><input ng-class="{'hidden':!editable}" type="text" ng-model="notesheetTitle"/></h3>
    <h3 ng-class="{'hidden':editable}">{{notesheetTitle}}</h3>
    <div class="options"> 
      <button id="edit" class="btn" ng-click="editable = true" ng-class="{'hidden':editable}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
      </button>
      <button id="edit" class="btn" ng-click="saveNotesheet(sheetDataIds)" ng-class="{'hidden':!editable}">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
      </button>
      <button id="arrange" disabled class="btn">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Arrange
      </button>
    </div>
  </div>
  <div id="formulaSheet" workspace class="module-container">
    <div data-ng-repeat="item in sheetData" nsformula></div>
  </div>
</div>